---
title: Blog
permalink: /blog
---

<h1>Latest Blog Posts</h1>

<!-- <ul>
  {% assign sortedBlogs = site.blogs | reverse %}
  {% for blog in sortedBlogs %}
  <li>
    <h2><a href="{{ blog.url | relative_url }}"> {{ blog.title }}</a></h2>
    {{ blog.excerpt }}
  </li>
  {% endfor %}
  </ul> -->


  {% assign sortedBlogs = site.blogs | reverse %}
  {% for blog in sortedBlogs %}
  <a href=" {{blog.url | relative_url }}" style="display: block; text-decoration:none;">
    <article class="blog-link-full"  >
      <img src="{{ "assets/imgs/raymarch/thumbnail.png" | relative_url }}" alt="">
      <div style="width: 60%;" >
        <h2>{{blog.title }}</h2>
        <hr>
        <div class="markdown-body" >{{blog.excerpt}}</div>
      </div>
      <div class="corner-button round-button">Continue Reading 🡒</div>
    </article>
  </a>
  {% endfor %}

<!--
<a href="#" style="display: block; text-decoration:none;">
  <article class="blog-link-full"  >
    <img src="{{ "assets/imgs/raymarch/thumbnafil.png" | relative_url }}" alt="">
    <div style="width: 60%;">
      <h2>Title of Article</h2>
      <hr>
      <p>Test article!</p>
    </div>
  </article>
</a>
 -->
