<nav class="nav-header">
  <!-- <a href="/" class="nav-logo">Homeaaaaaaaaaaaaaaaaaaaaaaaa</a> -->
  <a href="/" class="nav-logo">
      Void Goat
    </a>
  <div class="nav-center">
  {% for item in site.data.navigation %}
    <a href="{{ item.link | relative_url }}" class="{% if page.url == item.link %} current {% endif%} ">
      {{item.name}}
    </a>
  {% endfor %}
</div>

<div class="nav-logo" style="right:0;">
  <a href="https://twitter.com/VoidGoatDev" class="fa fa-twitter"></a>
  <!-- <a href="#" class="fa fa-youtube-play"></a>
  <a href="#" class="fa fa-reddit"></a> -->
  </div>

</nav>

<hr>
