<nav class="nav-header">


  <a href= {{"/" | relative_url }} class="nav-logo">
      Void Goat
    </a>

  <div class="nav-center">

  {% for item in site.data.navigation %}
    <a href="{{ item.link | relative_url }}" class="{% if page.url == item.link %} current {% endif%} ">
      {{item.name}}
    </a>
  {% endfor %}
  </div>



<div class="nav-logo socials" >
  <a href="https://twitter.com/VoidGoatDev" class="fa fa-bubble fa-twitter"></a>

   <a href="https://www.youtube.com/channel/UChRfQHdCl297MMJ3ScObGeg" class="fa fa-youtube-play"></a>
  <!-- <a href="#" class="fa fa-reddit"></a> -->
</div>


<div id="hamburger" style="right:0;">
  <div id="hamburger-icon" href="https://twitter.com/VoidGoatDev" onclick="toggleMenu()" class="fa fa-bars"></div>
  <!-- <a href="#" class="fa fa-youtube-play"></a>
  <a href="#" class="fa fa-reddit"></a> -->
</div>


</nav>
<!-- <br> -->



<!-- <hr> -->

<div id="side-menu">
  {% for item in site.data.navigation %}
    <a href="{{ item.link | relative_url }}" class="{% if page.url == item.link %} current {% endif%} ">
      {{item.name}}
    </a>
  {% endfor %}

</div>

<script type="text/javascript">
  var menuVisible = false;

  function toggleMenu() {
    var menu = document.getElementById('side-menu');
    var hamburger = document.getElementById("hamburger-icon");
    if ( menuVisible ) {
      menu.classList.remove("slide-in");
      menu.classList.remove("slide-out");

      void menu.offsetWidth;

      menu.classList.add("slide-out");
      menu.style.animationPlayState = 'running';


      hamburger.classList.add("fa-bars");
      hamburger.classList.remove("fa-close");

      menuVisible = false;
    } else {

      menu.classList.remove("slide-in");
      menu.classList.remove("slide-out");

      void menu.offsetWidth;

      menu.classList.add("slide-in");
      menu.style.animationPlayState = 'running';

      hamburger.classList.remove("fa-bars");
      hamburger.classList.add("fa-times");

      menuVisible = true;
    }
  }

</script>
