

html {
  height: 100%;
}

body {
  margin: 0;
  height: inherit;
  // font-family: "Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(51, 51, 51);
}

.container {
  // background-color: #eee;
  margin: 0;
  height:100%;
}

.content {
  max-width: 1000px;
  width:94%;
  margin: auto;
  background-color: white;
  height:auto;
  padding: 0 3vw 0 3vw;
}

.nav-header {
  display:  flex;

  // flex-direction: row;            /* default value; can be omitted */
  // flex-wrap: nowrap;              /* default value; can be omitted */
  // justify-content: space-between;
  height: 15px;

  // text-align: center;
  // background-color: black;
  padding-top: 30px;
  padding-bottom: 8px;

  margin-bottom: 50px;
  // justify-content: space-between;
}
.nav-logo {
  // float: left;
  position:  absolute;
  font-family: 'Monoton', cursive;
  font-size: 35px;
  top: 18px;
  padding-left: 10px;

  text-decoration: none;
  color: rgb(51, 51, 51);

  transition: color 0.2s;
}



.nav-logo:hover {
  color: #2196f3;
}



.nav-center {
  margin: 0 auto;
  // display: flex;s
  // justify-content: center;
}
.nav-center a {
  color: rgb(51, 51, 51);
  // color: white;

  font-size: 20px;
  font-weight: bold;
  margin: 4px 20px 0px 40px;
  text-decoration: none;

  // padding-bottom: 5px;
}
.nav-center a:hover {
  // color: rgb(51, 51, 51) !important;
  // color:  #2196f3 !important;
  border-bottom: 4px solid rgb(51, 51, 51) ;
  // padding-bottom: 5px !important;

}

.current {
  color:  #2196f3 !important;
  border-bottom: 4px solid #2196f3 !important;
  padding-bottom: 0 !important;
}

#hamburger {
  font-size: 30px !important;
  width: 30px;
  position: fixed;
  top: 20px;
  // right: 100px;
  margin-right: 20px;
  cursor: pointer;

  z-index: 3;
  display: none;
}
#side-menu {
  // display: none;

  position: fixed;
  background: white;
  box-shadow: -5px 0 5px rgb(186, 186, 186);
  // background: rgb(218, 218, 218);
  top: 0;
  bottom: 0;
  right: -505px;
  // left: 50%;
  // lef
  max-width: 500px;
  z-index: 2;
  width: 100%;
  padding-top: 40px;
}

#side-menu a {
  display: block;

  color: rgb(51, 51, 51);
  // color: white;

  font-size: 30px;
  font-weight: bold;
  margin: 4px 20px 0px 40px;
  text-decoration: none;

  padding-bottom: 4px;
}

#side-menu a:hover {
  // color: rgb(51, 51, 51) !important;
  // color:  #2196f3 !important;
  border-bottom: 4px solid rgb(51, 51, 51) ;
  padding-bottom: 0 !important;

}

@keyframes slide-in {
  from {right: -505px;}
  to {right: 0;}
}

.slide-in {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;

  right: 0 !important;
}
.slide-out {
  animation-name: slide-in;
  animation-direction: reverse;
  animation-duration: 0.5s;
  animation-iteration-count: 1;

  right: -505px !important;
}

.socials  a{
  text-decoration: none;
}

.socials {
  right: 10px;
}
@media only screen and (max-width: 900px) {
  .nav-center {
    display: none;
  }
  .socials {
    display: none;
  }
  #hamburger {
    display: block;
  }
  #side-menu {
    // display: block;
    // right: 0;
    // animation-play-state: paused;
    // animation-name: none;
  }
}
// @media only screen and (min-width: 900px) {
//   // .nav-center {
//   //   display: none;
//   // }
//   // .socials {
//   //   display: none;
//   // }
//
//   .hamburger {
//     display: none;
//   }
// }

.blog-link-full {
  color: rgb(51, 51, 51);
  text-decoration: none;

  border: 1px solid #d8d8d8;
  // border-top: 1px solid #d8d8d8;
  // border-bottom: 2px solid #d8d8d8;

  overflow: hidden;

  width: 100%;

  max-width: 480px;

  margin: 5px;

  border-radius: 10px;

  position: relative;

}

.blog-link-full img {
  // object-fit: fill;
  // display: block;
  // float: left;
  width: 100%;
  max-height: 340px;
}
.blog-link-full section {
  // display: block;
   // width: 45%;
   width: auto;
   height: 200px;
   padding: 10px;
}



.corner-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.round-button {
  background-color: #ff5722;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 100px;

  transition: background-color 0.2s;
}

.round-button:hover {
  background-color: #a23613;

}

.highlight {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}


hr {
  // color: rgb(254,254,254);

  border: 1px solid #eee;
}

img {
  width: 100%;
}

// .content blockquote {
//   margin: 0;
//   border-left: 5px solid gray;
//   padding-left: 10px;
//   background-color: #ddd;
// }
